/* Main Container */
.movie-details-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    color: #fff;
    margin: 2rem;
}

/* Left Section */
.movie-details-left {
    flex: 2; /* Take more space for text and trailer */
}

.movie-details-left h1 {
    color: #ffffff !important;
    font-size: 50px !important;
}
.movie-details-left h2 {
    color: #c0c0c0 !important;
    font-weight: bold !important;
}

.movie-details-left h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
  

.movie-description {
    color: #8d8d8d;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.movie-trailer {
    width: 100%;
    height: 415px;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.movie-availability {
    list-style: none;
    padding: 0;
    margin: 0;
}

.movie-availability li {
    margin-bottom: 1rem;
    background: #2c2c2c;
    padding: 0.5rem;
    border-radius: 5px;
}
  
  
/* Adjust movie banner size */
.movie-banner {
    width: 80%;
    border-radius: 8px;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
/* Reduce padding around the right section */
.movie-details-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #111111d0;
    padding: 0rem;
    border-radius: 10px;
}


.movie-info h3 {
    margin: 0;
    margin-bottom: 1rem;
    text-align: left;
}

.movie-info p {
    margin: 0;
    margin-bottom: 1rem;
}

.cinema-availability {
    margin-top: 1rem;
}
  
.cinema-section {
    margin-bottom: 2rem;
}
  
.cinema-name {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}


.showtime-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
  
.showtime-box {
    background-color: #44444417;
    border: 1px solid #535353;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.showtime-box:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.return-home-button {
    background-color: #141414;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    font-weight: normal;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.return-home-button:hover {
    background-color: #000000;
    transform: scale(1.05);
}

.return-home-button:focus {
    outline: none;
    box-shadow: 0 0 5px #ff5733;
}
  